/* Botão de abrir modal */
.add-task-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  background: var(--clr-gradient-light);
  color: var(--clr-btn-text);
  border: none;
  padding: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  z-index: 3;
  transition: 0.2s;
  font-weight: 500;
}

.add-task-btn:hover {
  scale: 1.05;
}

/* Fundo do modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: var(--clr-modal-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

/* Caixa do modal */
.modal-content {
  background: var(--clr-black);
  border: var(--border-dark-mode);
  color: var(--clr-white);
  padding: 2rem 3.5rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 50rem;
  animation: fadeIn 0.3s ease;
}

/* Prioridade */
.priority-options {
  display: flex;
  justify-content: space-around;
  /* background: var(--clr-black-dark); */
  padding: 0.8rem;
  border-radius: 1rem;
  gap: 1rem;
}

.priority-title {
  margin-top: 2rem;
  margin-bottom: 0;
}

.priority-options .radio-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.priority-options .radio-input input[type="radio"] {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

/* Botão confirmar */
.confirm-btn {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  background: var(--clr-gradient-light);
  border: none;
  color: var(--clr-white);
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-btn:hover {
  scale: 0.95;
}

/* Animação */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
