/* Botão de abrir modal */
.add-task-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  background: var(--clr-gradient-light);
  color: var(--clr-white);
  border: none;
  padding: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.add-task-btn:hover {
  scale: 1.05;
}

/* Fundo do modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

/* Caixa do modal */
.modal-content {
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 3rem 5.5rem;
  border-radius: 1rem;
  width: 44rem;
  animation: fadeIn 0.3s ease;
}

.modal-content h2 {
  font-size: 2.8rem;
  text-align: center;
  background: var(--clr-gradient-light);
  --webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

/* Prioridade */
.priority-options {
  display: flex;
  justify-content: space-around;
  background: var(--clr-black-dark);
  padding: 0.8rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.priority-options label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Botão confirmar */
.confirm-btn {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  background: var(--clr-gradient-light);
  border: none;
  color: var(--clr-white);
  border-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-btn:hover {
  opacity: 0.9;
}

/* Animação */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
