.metas-container {
  font-size: 1.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1.2rem;
  font-family: "Inter", sans-serif;
  color: var(--clr-white);
  min-height: 100vh;
  width: 100%;
}

/* Cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin: 2.5rem 0;
}

.card {
  background: var(--clr-black-dark);
  padding: 1.5rem 2.5rem;
  border-radius: 10px;
  flex: 1;
  min-width: 180px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card h2 {
  font-size: 3rem;
  color: white;
  margin: 0;
}

.centralizar-btn {
  display: flex;
  justify-content: flex-end;
}

/* Tabela */
.tabela-container {
  background: var(--clr-black-dark);
  border-radius: 1.2rem;
  padding: 1rem;
  box-shadow: var(--shadow-60);
  width: 100%;
  overflow-x: auto;
  /* background: #ff02; */
  margin-right: 1.6rem;
}

table {
  width: 100%;
  padding: 1rem;
  min-width: 90rem;
  border-collapse: collapse;
  /* background: #f302; */
  text-align: left;
}

th {
  font-size: 1.5rem;
  color: var(--clr-gray);
  font-weight: 600;
  padding: 0.8rem;
}

td {
  padding: 1rem;
  border-top: var(--border-light-mode);
}

.fonte {
  color: var(--clr-gray-light);
  font-size: 1.3rem;
  border-top: 1px solid #2f2f2f;
}

/* ícone + descrição */
td:first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Círculo do ícone */
.icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: background 0.3s ease, transform 0.3s ease;
}

/* Ícon */
.icon-style {
  height: 3rem;
  width: 3rem;
  color: #5060a3;
}

/* Efeito hover */
.icons.play:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Texto ao lado do ícone */
.descricao strong {
  color: #ffffff;
  font-size: 1.4rem;
}

.fonte {
  color: #9ca3af;
  font-size: 1.2rem;
}

/* Status */
.status {
  font-weight: 500;
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  font-size: 1.4rem;
}

.status.progresso {
  color: #3b82f6;
  background: rgba(59, 130, 246, 0.15);
}

.status.finalizado {
  color: #22c55e;
  background: rgba(34, 197, 94, 0.15);
}

.status.nao-iniciado {
  color: #a855f7;
  background: rgba(168, 85, 247, 0.15);
}

/* Prioridade */
.prioridade {
  font-weight: 600;
}

.alta {
  color: #ef4444;
}

.media {
  color: #f59e0b;
}

.baixa {
  color: #10b981;
}

/* Paginação */
.paginacao {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 0.5rem;
}

.paginacao button {
  background: var(--clr-black-dark);
  border: 0;
  border-radius: 0.6rem;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: 0.2s;
  color: var(--clr-white);
}

.paginacao button:hover {
  background: var(--clr-primary);
  background: #ccc;
}

.paginacao .ativo {
  background: var(--clr-gradient-light);
  color: white;
  background-position: center;
  font-weight: 700;
  border: none;
}

td .status {
  margin-inline: auto;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 13rem;
  min-width: 10rem;
}

td span .prioridade {
  text-align: center !important;
}

/* Responsividade */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: stretch;
  }

  table th,
  table td {
    font-size: 0.85rem;
  }
}
