.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  padding-inline: 1rem;
}

.welcome-title {
  display: flex;
  width: auto;
  align-items: baseline;
}

.welcome-title h2 {
  font-size: 2rem;
}

.welcome-title p {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.welcome-title .home-login {
  color: var(--clr-gray);
}

.logout-btn {
  background: var(--clr-black-light);
  border: var(--border-dark-mode);
  color: var(--clr-white);
  width: 6.5rem;
  font-weight: 600;
  height: 3rem;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: all 0.3s;
}

.logout-btn:hover {
  background: var(--clr-primary-low-op);
  border-color: var(--clr-primary);
}

.gradient-text.home {
  font-size: 2.5rem;
  margin-bottom: -0.5rem;
  margin-left: 0.7rem;
}

.title {
  color: var(--clr-white);
}

.btns-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

/* Container Foto User + Botão pra sair */
.user-profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2rem solid var(--clr-primary);
  transition: transform 0.3s;
  cursor: pointer;
}

.user-avatar-placeholder {
  width: 3.35rem;
  height: 3.35rem;
  border-radius: 50%;
  background: var(--clr-black-light);
  border: 0.1rem solid var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}

.user-avatar-placeholder:hover {
  border: 0.2rem solid var(--clr-primary);
}

.avatar-icon {
  width: 2rem;
  height: 2rem;
  margin-right: -0.05rem;
  color: var(--clr-white);
}

.login-icon-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--clr-black-light);
  border: var(--border-dark-mode);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.login-icon-btn:hover {
  transform: scale(0.95);
  background: var(--clr-gray-dark, #374151);
}

.login-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--clr-white);
}
