.form-container {
  width: 100%;
  max-width: 90rem;
  margin-inline: auto;
  min-height: 60rem;
  padding: 1rem;
  border: 0.1rem solid #fff;
}

.form {
  /* border: 0.1rem solid #ff0; */
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
}

.label {
  width: 100%;
  max-width: 40rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  /* border: 0.1rem solid #f0f; */
}

.label input {
  height: 5rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--clr-white-borders);
  font-family: var(--font);
  padding-inline: 1rem;
  font-size: 1.5rem;
}

.label input:hover,
.label input:focus {
  outline: none;
  /* box-shadow: 0 0 1rem 0.4rem #fff3; */
  filter: brightness(1.2);
}
