.modal-form-container {
  z-index: 9999 !important;
  justify-content: start !important;
  flex-direction: column !important;
  row-gap: 1rem !important;
}

.modal-form {
  color: var(--clr-primary);
  z-index: 9999 !important;
  row-gap: 2rem;
}

.modal-form .btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.modal-form .form-add-event {
  width: 80%;
}

.modal-form .btn-group .save {
  color: var(--clr-btn-text);
}

.modal-form textarea {
  width: 100%;
  min-height: 6rem;
  border-radius: 1rem;
  border: var(--border-dark-mode);
  background: var(--clr-black-dark);
  color: var(--clr-white);
  outline: none;
  transition: 0.2s;
  padding: 0.5rem;
}

.sub-title {
  font-size: 2rem;
  text-align: center;
}

.date-input {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8rem;
}

.date-input input[type="date"] {
  flex: 2;
}

.date-input input[type="time"] {
  flex: 1;
}
