.calendar {
  color: var(--clr-gray);
  font-size: 1.4rem !important;
  border-radius: 1rem;
}

.view-container .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.view-container .content > .container {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.calendar-title {
  margin-left: 1rem;
  margin-block: 2rem 1rem;
}

/* Current day on the calendar */
.calendar .rbc-today {
  background: var(--clr-current-day);
}

/* Days from next or previous month */
.calendar .rbc-off-range-bg {
  background: var(--clr-black-light);
}

/* Capitalize the month name */
.rbc-toolbar-label {
  text-transform: capitalize;
  font-size: 2rem;
  color: var(--clr-primary);
}

/* Capitalize the days of the week */
.rbc-header {
  color: var(--clr-primary);
  text-transform: capitalize;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

/* Container of the calendar */
.calendar .rbc-month-view {
  border-radius: 1.2rem;
  cursor: pointer;
  border: var(--border-dark-mode);
}

/* agenda */
.calendar .rbc-agenda-view {
  border-radius: 1rem;
  border-collapse: initial !important;
  overflow: hidden;
}

.calendar .rbc-agenda-table {
  border-radius: 1rem;
  /* border: 0.2rem var(--border-dark-mode) !important; */
  border-collapse: separate !important;
}

.calendar .rbc-agenda-content {
  border-radius: 1rem;
}

.calendar .rbc-agenda-table thead {
  border-radius: 1rem;
}

.calendar .rbc-agenda-event-cell,
.calendar .rbc-agenda-date-cell,
.calendar .rbc-agenda-time-cell {
  border-collapse: collapse !important;
  border: var(--border-dark-mode);
}

/* Each day of the month */
.calendar .rbc-month-view .rbc-day-bg {
  border-radius: 1.2rem;
  border: var(--border-dark-mode);
}

/* Remove border-radius week and day view */
.calendar .rbc-time-view {
  border-radius: 1rem;
  border: var(--border-dark-mode);
}

/* line that separates de weeks of the month */
.calendar .rbc-month-row {
  border: none !important;
}

/* day label of each day of the month */
.calendar .rbc-btn-group button {
  border: var(--border-dark-mode);
  color: var(--clr-gray);
}

.calendar .rbc-btn-group .rbc-active,
.calendar .rbc-btn-group button:focus,
.calendar .rbc-btn-group button:hover,
.calendar .rbc-btn-group .rbc-active:focus,
.calendar .rbc-btn-group .rbc-active .calendar .rbc-btn-group button:hover {
  border: var(--border-dark-mode);
  background: var(--clr-black-light);
  color: var(--clr-primary) !important;
  font-weight: 600;
}

.calendar .rbc-time-view .rbc-event {
  border-radius: 0.4rem;
  padding: 1rem 0.5rem;
}

/* Adjust the content of the events */
.calendar .rbc-event-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar .rbc-time-content {
  border-top: var(--border-dark-mode);
}

/* Estilizar os horários laterais */
.calendar .rbc-time-header-gutter,
.calendar .rbc-time-gutter {
  background: var(--clr-current-day);
  color: var(--clr-primary);
}

.calendar .rbc-events-container {
  margin-right: 0.5rem !important;
}

/* lines of week view */
.rbc-time-content > * + * > *,
.rbc-header + .rbc-header,
.rbc-day-bg + .rbc-day-bg {
  border-left: var(--border-dark-mode) !important;
}

.rbc-header,
.rbc-time-header-content {
  border-left: var(--border-dark-mode) !important;
  border-bottom: var(--border-dark-mode) !important;
}

.rbc-timeslot-group {
  border-bottom: none !important;
}

.rbc-day-slot .rbc-time-slot {
  border-top: var(--border-dark-mode) !important;
}
