.menu-container {
  border: var(--border-dark-mode);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.5rem;
  min-width: 6.5rem;
  overflow: hidden;
  min-height: 100vh;
  padding-inline: 0.6rem;
  transition: all 0.3s ease;
  border-radius: 1.5rem;
  background: var(--clr-black);
  z-index: 99;
}

.menu-container.expanded {
  width: 20rem;
}

.links-container {
  width: 100%;
  margin-top: 5rem;
}

.links-container ul {
  list-style: none;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.links-container ul li {
  min-width: 100%;
  margin-left: auto;
}

.nav-link {
  color: var(--clr-white);
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 5rem;
  transition: all 0.3s;
  cursor: pointer;
  padding-inline: 1rem;
  border-radius: 1.2rem;
  height: 5rem;
  border: 0.1rem solid transparent;
  font-weight: 300;
}

.menu-container:not(.expanded):hover {
  width: 20rem;
}

.menu-container.expanded .links-container .nav-link,
.menu-container:hover .links-container .nav-link {
  column-gap: 1rem;
}

.menu-container:hover .menu-btn .link-icon {
  width: 15rem;
}

.menu-container.expanded .menu-btn .link-icon {
  transform: rotateY(0deg);
  width: 15rem;
  margin-left: 0;
}

.nav-link.active {
  background: var(--clr-gradient-light);
  height: 5rem;
  border-radius: 1.2rem;
  box-shadow: var(--shadow-60);
}

.nav-link:hover {
  background: var(--clr-primary-low-op);
}

.links-container .menu-btn {
  width: 100%;
  max-width: 10rem;
  background: transparent;
  border: 0.1rem solid transparent;
  border-radius: 1.2rem;
  transition: all 0.3s;
  cursor: pointer;
}

.links-container .link-icon {
  transition: all 0.3s;
  margin-left: 0.5rem;
}

.menu-btn .link-icon {
  margin-left: -0.35rem;
  width: 3rem;
  height: 3rem;
  transform: rotateY(180deg);
  color: var(--clr-white);
}
