.menu-container {
  /* border: 0.1rem solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 20rem; */
  width: 8rem;
  overflow: hidden;
  min-height: 100vh;
  padding-inline: 1rem;
  transition: all 0.3s;
  /* box-shadow: 1rem 0 2rem #00000025; */
  border-radius: 0 1.5rem 1.5rem 0;
}

.menu-container.expanded {
  width: 20rem;
}

.menu-container:hover {
  width: 20rem;
}

.links-container {
  width: 100%;
  margin-top: 5rem;
}

.links-container ul {
  list-style: none;
  /* border: 0.1rem solid #0f0; */
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.links-container ul li {
  /* border: 0.1rem solid #f0f; */
  min-width: 100%;
}

.links-container .nav-link {
  color: var(--clr-white);
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  column-gap: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  padding-inline: 1rem;
  border-radius: 1.2rem;
  height: 5rem;
  border: 0.1rem solid transparent;
  font-weight: 300;
}

.nav-link.active {
  background: var(--clr-gradient-light);
  height: 5rem;
  border-radius: 1.2rem;
  box-shadow: 0 1rem 1rem #00000050;
}

.nav-link:hover {
  border: 0.1rem solid var(--clr-gray-light);
}

.links-container .menu-btn {
  width: 15rem;
  height: 5rem;
  background: transparent;
  border: 0.1rem solid transparent;
  border-radius: 1.2rem;
  transition: all 0.2s;
  margin-inline: auto;
  cursor: pointer;
}

.links-container .link-icon {
  transition: all 0.3s;
}

.links-container .menu-btn:hover .link-icon {
  margin-left: -1rem;
}
