/* modal */
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-black-light);
  width: 100%;
  max-width: 55rem;
  height: auto;
  min-height: 35rem;
  border-radius: 1.5rem;
  color: var(--clr-white);
  z-index: 999;
  box-shadow: var(--modal-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 0.5rem;
}

.modal button {
  width: 10rem;
  height: 4rem;
  background: var(--clr-black);
  color: var(--clr-primary);
  border: var(--border-dark-mode);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
}

.modal button:hover {
  scale: 0.95;
}

.modal button.cancel {
  background: var(--clr-black-dark);
}
