:root {
  /* color-scheme: light dark; */

  --clr-white: #f3f3f3;
  --clr-white-light: #fff;
  --clr-white-dark: #f1f2f6;

  --clr-black: #111119;
  --clr-black-light: #35373e;
  --clr-black-dark: #212127;

  --clr-gray: #6b7280;

  --clr-primary: #649ffd;
  --clr-primary-low-op: #649ffd40;

  --clr-highlight-attetion: #ffc664;
  --clr-highlight-success: #5ceab1;
  --clr-highlight-error: #f14c78;

  --clr-input-border: 0.1rem solid #234986;
  --border-dark-mode: 0.1rem solid var(--clr-gray);
  --border-light-mode: 0.1rem solid var(--clr-white);

  --shadow-60: 0 1rem 3rem #00000060;
  --modal-shadow: 2rem 2.5rem 3rem #00000070;

  --clr-gradient-light: linear-gradient(to right, #5b79ff, #69c0f6);
  --clr-gradient-vertical-light: linear-gradient(to bottom, #5b79ff, #69c0f6);
  --clr-gradient-dark: linear-gradient(to right, #69c0f6, #334867);
  --clr-gradient-vertical-dark: linear-gradient(to bottom, #69c0f6, #334867);

  --font: "Plus Jakarta Sans", system-ui, sans-serif;
}

/* for systems with light mode on default  */
@media (prefers-color-scheme: light) {
  :root {
    color: #1f1f1f;
    background-color: #e8e8e8;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  font-size: 62.5%;
  font-family: var(--font);
}

body {
  min-height: 100vh;
  background: var(--clr-black);
  overflow-x: hidden;
}

input,
select {
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  border: var(--border-dark-mode);
  background: var(--clr-black-dark);
  color: var(--clr-white);
  outline: none;
  transition: 0.2s;
  padding: 0.5rem;
}

input:focus,
select:focus {
  border: var(--clr-input-border);
  outline: none;
}

label {
  width: 100%;
  max-width: 40rem;
  display: block;
  margin-block: 1rem;
  font-size: 1.6rem;
  color: var(--clr-white);
  cursor: pointer;
}

input[type="color"] {
  padding: 1rem;
}

.view-container {
  display: flex;
  min-height: 100vh;
}

.gradient-text {
  background: var(--clr-gradient-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 600;
}

.page-title {
  margin-left: 1rem;
  background-size: 20rem;
  margin-block: 2rem 1rem;
}

.small-title {
  background-size: 10rem;
}
