:root {
  color-scheme: light dark;

  --clr-white: #f3f3f3;
  --clr-white-light: #fff;
  --clr-white-dark: #f1f2f6;

  --clr-black: #171920;
  --clr-black-light: #35373e;
  --clr-black-dark: #212127;

  --clr-gray: #66768d;
  --clr-gray-light: #7a7a7f;

  --clr-primary: #69c0f6;
  --clr-primary-light: #69c0f6;
  --clr-primary-dark: #334867;

  --clr-highlight-attetion: #ffc664;
  --clr-highlight-success: #5ceab1;
  --clr-highlight-error: #f14c78;

  --clr-gradient-light: linear-gradient(to right, #5b79ff, #69c0f6);
  --clr-gradient-vertical-light: linear-gradient(to bottom, #5b79ff, #69c0f6);
  --clr-gradient-dark: linear-gradient(to right, #69c0f6, #334867);
  --clr-gradient-vertical-dark: linear-gradient(to bottom, #69c0f6, #334867);

  --font: "Plus Jakarta Sans", system-ui, sans-serif;
}

/* for systems with light mode on default  */
@media (prefers-color-scheme: light) {
  :root {
    color: #1f1f1f;
    background-color: #e8e8e8;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  font-size: 62.5%;
  font-family: var(--font);
}

body {
  min-height: 100vh;
  background: var(--clr-black);
}
