:root {
  --font: "Plus Jakarta Sans", system-ui, sans-serif;

  --clr-white: #f3f3f3;
  --clr-black: #111119;
  --clr-black-light: #35373e;
  --clr-black-dark: #212127;
  --clr-gray: #6b7280;
  --clr-gray-light: #9da9c2;
  --clr-primary: #649ffd;
  --clr-primary-low-op: #649ffd40;
  --clr-btn-text: #f3f3f3;
  --clr-black-low-op: #00000040;
  --clr-modal-overlay: #000000b3;
  --clr-input-border: 0.1rem solid #234986;

  --border-dark-mode: 0.1rem solid var(--clr-gray);
  --border-light-mode: 0.1rem solid var(--clr-white);

  --shadow-60: 0 1rem 3rem #00000060;
  --modal-shadow: 2rem 2.5rem 3rem #00000070;

  --clr-gradient-light: linear-gradient(to right, #5b79ff, #69c0f6);
  --clr-gradient-dark: linear-gradient(to right, #69c0f6, #334867);
}

[data-theme="light"] {
  --clr-white: #223756;
  /* --clr-black: #f3f3f8; */
  --clr-black: #eee;
  --clr-black-light: #ddd;
  --clr-black-dark: #dbdde0;
  --clr-gray: #6b7280;
  --clr-gray-light: #3f434b;
  --clr-primary: #234986;
  --clr-btn-text: #fff;
  --clr-primary-low-op: #23498760;
  --clr-black-low-op: #eeeeee40;
  --clr-modal-overlay: #000000b3;
  --clr-input-border: 0.1rem solid #234986;

  --border-dark-mode: 0.1rem solid var(--clr-white);

  --shadow-60: 0 1rem 3rem #00000060;
  --modal-shadow: 2rem 2.5rem 3rem #00000070;

  --clr-gradient-light: linear-gradient(to right, #69c0f6, #334867);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  font-size: 62.5%;
  font-family: var(--font);
}

body {
  min-height: 100vh;
  background: var(--clr-black);
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
}

input,
select {
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  border: var(--border-dark-mode);
  background: var(--clr-black-dark);
  color: var(--clr-white);
  outline: none;
  transition: 0.2s;
  padding: 0.5rem;
  cursor: pointer;
}

input:focus,
select:focus {
  border: var(--clr-input-border);
  outline: none;
}

label {
  width: 100%;
  max-width: 40rem;
  display: block;
  margin-block: 1rem;
  font-size: 1.6rem;
  color: var(--clr-white);
  cursor: pointer;
}

input[type="color"] {
  padding: 1rem;
}

/* Containers padrão que agrupam os elementos das views  */
.view-container {
  display: flex;
  min-height: 100vh;
}

.view-container .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.gradient-text {
  background: var(--clr-gradient-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 600;
}

.page-title {
  margin-left: 1rem;
  background-size: 20rem;
  margin-block: 2rem 1rem;
}

.small-title {
  background-size: 10rem;
}

.orb {
  background: var(--clr-primary);
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  position: absolute;
  z-index: -999;
  filter: blur(10rem);
}

.orb-1 {
  left: 0;
  top: 5%;
  background: var(--clr-primary);
  opacity: 0.2;
}

.orb-2 {
  right: 1%;
  bottom: 1%;
  width: 55rem;
  height: 55rem;
  opacity: 0.15;
}
