.profile-page {
  width: 100%;
  padding: 2rem;
  min-height: 100vh;
}

.profile-card {
  background: var(--clr-black-dark); 
  padding: 25px 35px; /*fixo/alteração*/
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  transition: all 0.3s ease;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-left {
  display: flex;
  align-items: center;
}

.profile-info {
  margin-left: 10px;
}

.photo-wrapper {
  position: relative;
  display: inline-block; /*alteração*/
}

.profile-photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover; /*alteração*/
  border: 2px solid #69c0f6;
}

.edit-photo-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: linear-gradient(to right, #5b79ff, #69c0f6);
  border: none;
  color: #fff;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.edit-photo-btn:hover {
  transform: scale(1.1);
}

.profile-info h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.profile-form {
  margin-top: 2.5rem;
}

.profile-form label {
  font-size: 1.4rem;
  color: #ccc;
  margin-bottom: px;
}

.profile-form input {
  display: block;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: 1px solid #444;
  background: #0f0f12;
  color: #fff;
  outline: none;
}

.profile-form input:focus {
  border-color: #69c0f6;
}

.info-item {
  display: flex;
  align-items: center;
  color: #a1a1a1;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.icon {
  margin-right: 8px;
  color: #a1a1a1;
}

.edit-button {
  background: transparent;
  border: 1.5px solid #a7a7a7;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-button:hover {
  border-color: #69c0f6;
  color: #69c0f6;
}

.centralize-delete {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.delete-profile {
  color: #cccccc62;
  font-size: 1.5rem;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cancel-btn,
.save-btn {
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.cancel-btn {
  background: #222;
  color: #bbb;
}

.cancel-btn:hover {
  background: #333;
}

.save-btn {
  background: linear-gradient(to right, #5b79ff, #69c0f6);
  color: #fff;
}

.save-btn:hover {
  opacity: 0.9;
}